<div class="row rowempty">
</div>
<div id="body">
  <div class="featured">
    <div>
      <ul>

            <li><img src="/images/bouquetf.jpg" alt="" /></li>
        <li><img src="/images/bouquetflower.jpg" alt="" /></li>
         
      </ul>
      <div class="section">
        <div> <a href="#"><img src="images/bridal-bouquet.jpg" alt="" /></a>
          <h2>latest work</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="content"> <span class="heading"><img src="images/special-occasions-flowers.gif" alt="" /></span>
    <div>
      <div>
        <ul>
          <li><a href="#"><img src="images/tulips.jpg" alt="" /> <span>Tulips</span></a></li>
          <li><a href="#"><img src="images/bouquet.jpg" alt="" /> <span>Bouquet</span></a></li>
          <li><a href="#"><img src="images/roses.jpg" alt="" /> <span>Roses</span></a></li>
          <li><a href="#"><img src="images/bouquet2.jpg" alt="" /> <span>Bouquet</span></a></li>
          <li><a href="#"><img src="images/roses2.jpg" alt="" /> <span>Roses</span></a></li>
          <li><a href="#"><img src="images/bridal-bouquet2.jpg" alt="" /> <span>Bridal Bouquet</span></a></li>
          <li><a href="#"><img src="images/sunflower.jpg" alt="" /> <span>Sunflower</span></a></li>
          <li><a href="#"><img src="images/bouquet3.jpg" alt="" /> <span>Bouquet</span></a></li>
          <li><a href="#"><img src="images/speedwell.jpg" alt="" /> <span>Speedwell</span></a></li>
        </ul>
        <h4><a href="/#/shop"><b>view shop</b></a></h4>
      </div>
      <ul>
        <li>
          <h3></h3>
          <p id="flower">Elegant mixed flower bouquets & arrangements are appropriate for all your gift giving needs!  Our bouquets are also a delightful way to brighten up your own home for a party or special occasion.

You'll find bouquets in a variety of themes and colors to suit your recipient perfectly.</p>
        </li>
        <li>
          <h3></h3>
          <p id="flower">If you don't want to miss the occasion, then you've come to the right place. Sending trendy flowers bouquets and exotic arrangements is a breeze. Simply click on your desired item, add it to your shopping card and provide the delivery date and card message. Same-day delivery is possible, however remember to order early enough for Valentine and Mother's Day. Through our Lebanese florist network we cover Beirut and all of Lebanon, and provide a prompt delivery service.</p>
        </li>
        <li>
          <h3></h3>
          <p id="flower">
تعيش في لبنان وتسعى الى مفاجأة أحبائك، والتعبير عن مشاعرك بواسطة إهدائهم أجمل ورود لبنان الجاهزة لجميع المناسبات وحتى الهدايا؟ إذا عليك الإعتماد على زهور سوريت الموقع الفعال والجدير بالثقة كي ينقل مشاعرك وأمنياتك عبر تسليم ورود لبنان الى بيروت وضواحيها. أكانت المناسبة عيد الأم، أو عيد الحب، أوعيد الميلاد أو غيرها موقع زهورسوريت على إستعداد كامل لتسليم ورود لبنان ليس فقط الى بيروت وضواحيها وإنما أيضا الى كافة المناطق اللبنانية حتى الجبلية والبعيدة منها</p>
        </li>
      </ul>
    </div>
  </div>
</div>
