nav{
    background: black; 
    text-align: center;
    padding: 10px;
    border: 5px solid white;
    width: 100%;
        
}

nav a{
    color: white;
  text-decoration: none;
     padding-left: 20px;
    
    
}
.bottom{
    background-color: black;
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: absolute;
     width: 100%;
    color: white;
}


nav a:hoover{
    text-decoration: underline;
}