<div id="body">
      
  <div class="payment">
    <h1><i class="fa fa-credit-card-alt" aria-hidden="true"></i><b>&nbsp;payment &amp; ordering</b></h1>
    <div class="section1">
      <div class="article">
        <h3 id="flower" class="underline"><b>Order Acceptance Policy:</b></h3><br>
        <p id="flower">Your receipt of an electronic or other form of order confirmation does not signify our acceptance of your order, nor does it constitute confirmation of our offer to sell. We reserve the right at any time after receipt of your order to accept or decline your order, mainly when a credit card is suspected for fraudulent activity. We reserve the right at any time after receipt of your order, without prior notice to you, to supply similar items of same value, in case of no availability, mainly during same-day order requests. We may require additional verifications or information before accepting any order.</p>
        
      </div><br>
        
      
    </div>
       <div ><img src="/images/deliveryimg.jpg"  alt="" /></div>
    </div>
  <div class="handling">
    <h1><b>handling &amp; delivery</b></h1>
    <div>
      <h3 id="flower" class="underline"><b>Sales and Delivery Conditions</b></h3><br>
      <p id="flower">The present general sales and delivery conditions are systematically brought to the attention of every customer to enable him to place his order. Consequently, the placing of an order implies the full and unconditional acceptance of these general conditions, notwithstanding any other documents, such as sales brochures or catalogs issued by Soeurette Shop, which have only an indicative value. The buyer may therefore not impose any contrary conditions on the vendor, unless expressly accepted, regardless of when they were brought to his attention.</p>
    </div>
   
      
     
    
  </div>
  
      <div style="text-align: center"> <img src="images/lady-handling-flower2.jpg" alt="" /> </div>
      
     <div class="handlings">            
    <div class="section1">
      <div class="article">
          <h1 class="underline"><i class="fa fa-truck" aria-hidden="true"></i><b>&nbsp;Shipping and Delivery:</b></h1>
       
        <p id="flower" >Deliveries can be made only to Lebanon. If a same-day delivery is requested, and provided we receive the order before 3PM (GMT+2), we will do our best to deliver the product in the afternoon, otherwise it will be shipped the next day. For some products, delivery on Sunday is not available. In most cases, Soeurette Shop will call the recipient to agree on the time of delivery; however if the address is absent, we may leave the parcel at the front door or leave a message in the mailbox.</p><br>
        
      </div>
    </div>

       <div class="section2">

      <div class="article">
        <h3 id="flower"><em><b>For Valentine (Feb 14) and Mother's Day (Mar 21):</b></em></h3><br>
          
        <p id="flower">Orders received on the same day or during the night before will be processed on best effort basis and might be delivered the next day, so please order at least 1 day ahead. Also for orders on these 2 occasions we cannot commit to specific delivery times as we will be dispatching throughout the day but we will always call your recipient to coordinate the delivery.</p><br>
        
      </div>
    </div>
       <div class="section2">

      <div class="article">
        <h3 id="flower"><em><b>Order Cancellation:</b></em></h3><br>
        <p id="flower">A full refund is provided for orders cancelled more than 48 hours prior to delivery, otherwise the full amount will be charged or kept as credit on a case-by-case basis.</p><br>
        
      </div>
    </div>
       <div class="section2">

      <div class="article">
        <h3 id="flower"><em><b>Product Return Procedures:</b></em></h3><br>
        <p id="flower">For non perishable items, any returns must be subject to a formal agreement between Soeurette Shop and the buyer. For any returns accepted by us, in the case of a visible defect or the non-conformity of the products delivered, we will allow the buyer to obtain the free replacement or the restitution of a credit note to his benefit, exclusive of any other indemnity or damages.</p>
        
      </div>
    </div>
         
         
    </div>
    <div style="text-align: center"> <img src="images/doordelivery.jpg" alt="" /> </div>

       <div class="handlings">
    <h1><b>Exclusion of Liability</b></h1>
<div class="section1">
      <div class="article">
      <h3 id="flower" class="underline"><b>Soeurette Blossoms  is not responsible for:</b>
          </h3><br>
        <p></p>
          
          
           
        <ul id="flower">
            <li><p id="flower" class="delivery">Flowers, plants, and other perishable items delivered to incorrect addresses supplied by the sender.</p>
            </li>
        
        <li><p id="flower" class="delivery">Unsuccessful deliveries arising from the recipient not being present at time of delivery at the address supplied by the sender.</p>
            </li>
            <li><p id="flower" class="delivery">Decreased product quality due to an incorrect delivery address supplied by the sender, or a re-route requested by the sender.</p>
            </li>
            <li><p id="flower" class="delivery">Product quality problems caused by improper handling by the recipient.</p>
            </li>
        </ul>

   
      
     
           </div>
        </div>
            </div>
  </div>
 
