div class="container no-padding-sm">
<div class="row">
<div class="col-xs-12">
<div class="table-responsive medic-timetable">
<table class="table">
<thead>
<tr>
<th></th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Sunday</th>
</tr>
</thead>
<tbody>
<tr>
<td>06:00 - 07:00 </td>
<td class="bg-info">
<div class="title">Primary Health <br> Care</div>
<div class="time">06:00 - 07:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info">
<div class="title">Primary Health <br> Care</div>
<div class="time">06:00 - 07:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td></td>
<td class="bg-info">
<div class="title">Primary Health <br> Care</div>
<div class="time">06:00 - 07:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info">
<div class="title">Primary Health <br> Care</div>
<div class="time">06:00 - 07:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 115, Hall C
</div>
</td>
<td></td>
<td></td>
</tr>
<tr>
<td>
07:00 - 08:00
</td>
<td class="bg-info" rowspan="2">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">07:00 - 09:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info" rowspan="2">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">07:00 - 09:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info" rowspan="2">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">07:00 - 09:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info" rowspan="2">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">07:00 - 09:00</div>
<div class="info">
John D. Tom, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info" rowspan="2">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">07:00 - 09:00</div>
<div class="info">
John D. Tom, <br> Prof.Office 367, Hall A
</div>
</td>
<td></td>
<td></td>
</tr>
<tr>
<td> 08:00 - 09:00 </td>
<td></td>
<td></td>
</tr>
<tr>
<td>09:00 - 10:00 </td>
<td></td>
<td class="bg-info top" rowspan="2">
<div class="title">Pediatric Clinic</div>
<div class="time">09:00 - 11:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info">
<div class="title">Primary Health <br> Care</div>
<div class="time">09:00 - 11:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top">
<div class="title">Pediatric Clinic</div>
<div class="time">07:00 - 10:00</div>
<div class="info">
John D. Tom, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">07:00 - 11:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
<td class="bg-info">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">09:00 - 10:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
<td class="bg-info">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">09:00 - 10:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
</tr>
<tr>
<td>10:00 - 11:00 </td>
<td class="bg-info">
<div class="title">Laryngological <br> Clinic</div>
<div class="time">10:00 - 12:50</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top">
<div class="title">Pediatric Clinic</div>
<div class="time">09:00 - 11:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td></td>
<td class="bg-info">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">09:00 - 11:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">10:00 - 11:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">10:00 - 11:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
</tr>
<tr>
<td>11:00 - 12:00 </td>
<td class="bg-info top" rowspan="2">
<div class="title">Cardiac Clinic</div>
<div class="time">10:00 - 13:00</div>
<div class="info">
John D. Tom, <br> Office 6, Hall B
</div>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>12:30 - 13:00 </td>
<td></td>
<td></td>
<td class="bg-info">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">12:00 - 13:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">12:15 - 16:00</div>
<div class="info">
Sue Blinim,, <br> Prof.Office 115, Hall C
</div>
</td>
<td class="bg-info top">
<div class="title">Pediatric Clinic</div>
<div class="time">12:30 - 13:00</div>
<div class="info">
Sue Blinim,, <br> Prof.Office 115, Hall C
</div>
</td>
<td class="bg-info top">
<div class="title">Pediatric Clinic</div>
<div class="time">12:30 - 13:00</div>
<div class="info">
Sue Blinim,, <br> Prof.Office 115, Hall C
</div>
</td>
</tr>
<tr>
<td>13:00 - 14:00 </td>
<td class="bg-info top" rowspan="3">
<div class="title">Pediatric Clinic</div>
<div class="time">13:30 - 16:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top" rowspan="2">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">13:00 - 15:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info">
<div class="title">Gynaecological <br> Clinic</div>
<div class="time">13:00 - 14:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top" rowspan="2">
<div class="title">Laryngological <br> Clinic</div>
<div class="time">12:00 - 16:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top" rowspan="3">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">12:00 - 16:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
<td class="bg-info top">
<div class="title">Cardical Clinic</div>
<div class="time">13:00 - 16:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
<td class="bg-info">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">06:00 - 07:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
</tr>
<tr>
<td>14:00 - 15:00 </td>
<td class="bg-info top" rowspan="2">
<div class="title">Primary Health <br> Care </div>
<div class="time">14:00 - 16:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top" rowspan="2">
<div class="title">Laryngological <br> Clinic</div>
<div class="time">13:00 - 17:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
<td></td>
</tr>
<tr>
<td>15:00 - 16:00 </td>
<td class="bg-info top" rowspan="2">
<div class="title">Primary Health <br> Care</div>
<div class="time">15:00 - 19:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td></td>
<td class="bg-info top" rowspan="2">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">15:00 - 19:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
</tr>
<tr>
<td>16:00 - 17:00 </td>
<td class="bg-info top" rowspan="2">
<div class="title">Primary Health <br> Care</div>
<div class="time">13:30 - 16:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top" rowspan="2">
<div class="title">Primary Health <br> Care</div>
<div class="time">16:00 - 17:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top" rowspan="4">
<div class="title">Primary Health <br> Care</div>
<div class="time">16:00 - 20:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top" rowspan="2">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">16:00 - 20:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
<td class="bg-info">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">13:00 - 17:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
</tr>
<tr>
<td>17:00 - 18:00 </td>
<td class="bg-info top" rowspan="2">
<div class="title">Primary Health <br> Care</div>
<div class="time">15:00 - 19:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td></td>
<td class="bg-info top" rowspan="2">
<div class="title">Ophthalmology <br> Clinic</div>
<div class="time">16:00 - 19:00</div>
<div class="info">
Sue Blinim, <br> Prof.Office 115, Hall C
</div>
</td>
</tr>
<tr>
<td>18:00 - 19:00 </td>
<td></td>
<td class="bg-info top" rowspan="2">
<div class="title">Primary Health <br> Care</div>
<div class="time">06:00 - 07:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 367, Hall A
</div>
</td>
<td class="bg-info top" rowspan="2">
<div class="title">Primary Health <br> Care</div>
<div class="time">06:00 - 07:00</div>
<div class="info">
Ann Blyumin, <br> Prof.Office 115, Hall C
</div>
</td>
<td></td>
</tr>
<tr>
<td>19:00 - 20:00 </td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
