<div id="body">
  <div class="handling">
    <h1 id="homes"><i  class="glyphicon glyphicon-leaf" aria-hidden="true"></i><b>&nbsp;Soeurette Blossom&nbsp;</b><i  class="glyphicon glyphicon-leaf" aria-hidden="true"></i></h1>
    <div>
      <h3><b></b></h3>
      <p id="home"><b>Soeurette Blossom</b> take care of your floral arrangements by occasion; including Birthday bouquets, Mother's Day flowers, Valentine's Day flowers, Newborn Baby and much more. We offer a large selection of flowers, plants, floral arrangements, and baskets at very competitive prices that will not be matched anywhere in Lebanon. </p>
    </div>
    </div>
</div>
<div class="row rowempty">
</div>
<div class="homemain">
<section id="rt-showcase-surround">
            <div id="rt-showcase" class="slider-container rt-overlay-dark">
                <div class="rt-container slider-container">
                    <div class="rt-grid-12 rt-alpha rt-omega">

                    
<link rel="stylesheet" href="http://cssslider.com/sliders/demo-6/engine1/style.css">

<script type="text/javascript" src="http://cssslider.com/sliders/demo-6/engine1/gestures.js"></script>

<div class='csslider1 autoplay '>

	<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'>
	<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'>
	<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'>
	<input name="cs_anchor1" id='cs_slide1_3' type="radio" class='cs_anchor slide'>
	<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
	<input name="cs_anchor1" id='cs_pause1_0' type="radio" class='cs_anchor pause'>
	<input name="cs_anchor1" id='cs_pause1_1' type="radio" class='cs_anchor pause'>
	<input name="cs_anchor1" id='cs_pause1_2' type="radio" class='cs_anchor pause'>
	<input name="cs_anchor1" id='cs_pause1_3' type="radio" class='cs_anchor pause'>

	<ul>
		<div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
			<img src="http://cssslider.com/sliders/demo-6/data1/images/aster_tongolensis_michelmas_daisy_mauve_flower.jpg" style="width: 100%;">
		</div>
		<li class='num0 img'>
			<img src='http://cssslider.com/sliders/demo-6/data1/images/aster_tongolensis_michelmas_daisy_mauve_flower.jpg' alt='HTML5 gallery plugin download  mobile landscape portrait' title='Daisy Mauve Flower' />
		</li>
		<li class='num1 img'>
			<img src='http://cssslider.com/sliders/demo-6/data1/images/flowers_plant_bloom_daisies_white.jpg' alt='Wordpress website menu carousel image gallery control' title='White daisies' />
		</li>
		<li class='num2 img'>
			<img src='http://cssslider.com/sliders/demo-6/data1/images/flowers_plant_purple_pansy_violet.jpg' alt='Responsive can you makeeffectwebpage slider text photos' title='Pansy' />
		</li>
		<li class='num3 img'>
			<img src='http://cssslider.com/sliders/demo-6/data1/images/rose_summer_flower_flowers_garden_rose.jpg' alt='Responsive free fade downloads carousel mask' title='White rose' />
		</li>

	</ul>
	<a class="cs_lnk" href="http://cssslider.com"> HTML5  slideshow </a>
	<div class='cs_description'>
		<label class='num0'>
			<span class="cs_title"><span class="cs_wrapper">Daisy Mauve Flower</span></span>
			<br/><span class="cs_descr"><span class="cs_wrapper">BROWSE OUR FULL FLOWER COLLECTION</span></span>
		</label>
		<label class='num1'>
			<span class="cs_title"><span class="cs_wrapper">White daisies</span></span>
			<br/><span class="cs_descr"><span class="cs_wrapper">FRESH FROM THE FARM!</span></span>
		</label>
		<label class='num2'>
			<span class="cs_title"><span class="cs_wrapper">Pansy</span></span>
			<br/><span class="cs_descr"><span class="cs_wrapper">purple flowers</span></span>
		</label>
		<label class='num3'>
			<span class="cs_title"><span class="cs_wrapper">White rose garden plant</span></span>
			<br/><span class="cs_descr"><span class="cs_wrapper">SAME-DAY DELIVERY IS AVAILABLE</span></span>
		</label>
	</div>
	<div class='cs_play_pause'>
		<label class='cs_play' for='cs_play1'><span><i class="fa fa-play-circle-o" aria-hidden="true" style="font-size:48px;color:white"></i></span></label>
		<label class='cs_pause num0' for='cs_pause1_0'><span><i class="fa fa-pause-circle-o" aria-hidden="true" style="font-size:48px;color:white"></i></span></label>
		<label class='cs_pause num1' for='cs_pause1_1'><span><i class="fa fa-pause-circle-o" aria-hidden="true" style="font-size:48px;color:white"></i></span></label>
		<label class='cs_pause num2' for='cs_pause1_2'><span><i class="fa fa-pause-circle-o" aria-hidden="true" style="font-size:48px;color:white"></i></span></label>
		<label class='cs_pause num3' for='cs_pause1_3'><span><i class="fa fa-pause-circle-o" aria-hidden="true" style="font-size:48px;color:white"></i></span></label>
		
	</div>
	<div class='cs_arrowprev'>
		<label class='num0' for='cs_slide1_0'><span><i class="fa fa-angle-double-left" style="font-size:58px;color:white"></i></span></label>
		<label class='num1' for='cs_slide1_1'><span><i class="fa fa-angle-double-left" style="font-size:58px;color:white"></i></span></label>
		<label class='num2' for='cs_slide1_2'><span><i class="fa fa-angle-double-left" style="font-size:58px;color:white"></i></span></label>
		<label class='num3' for='cs_slide1_3'><span><i class="fa fa-angle-double-left" style="font-size:58px;color:white"></i></span></label>
	</div>
	<div class='cs_arrownext'>
		<label class='num0' for='cs_slide1_0'><span><i class="fa fa-angle-double-right" style="font-size:58px;color:white"></i></span></label>
		<label class='num1' for='cs_slide1_1'><span><i class="fa fa-angle-double-right" style="font-size:58px;color:white"></i></span></label>
		<label class='num2' for='cs_slide1_2'><span><i class="fa fa-angle-double-right" style="font-size:58px;color:white"></i></span></label>
		<label class='num3' for='cs_slide1_3'><span><i class="fa fa-angle-double-right" style="font-size:58px;color:white"></i></span></label>
	</div>

	<div class='cs_bullets'>
		<label class='num0' for='cs_slide1_0'>
			<span class='cs_point'></span>
			<span class='cs_thumb'><img src='http://cssslider.com/sliders/demo-6/data1/tooltips/aster_tongolensis_michelmas_daisy_mauve_flower.jpg' alt='Responsive thumbnail image  featured list' title='Daisy Mauve Flower' /></span>
		</label>
		<label class='num1' for='cs_slide1_1'>
			<span class='cs_point'></span>
			<span class='cs_thumb'><img src='http://cssslider.com/sliders/demo-6/data1/tooltips/flowers_plant_bloom_daisies_white.jpg' alt='Responsive background color change slideshow photography with thumbnails' title='White daisies' /></span>
		</label>
		<label class='num2' for='cs_slide1_2'>
			<span class='cs_point'></span>
			<span class='cs_thumb'><img src='http://cssslider.com/sliders/demo-6/data1/tooltips/flowers_plant_purple_pansy_violet.jpg' alt='CSS3 scrolling download slider pagination free' title='Pansy' /></span>
		</label>
		<label class='num3' for='cs_slide1_3'>
			<span class='cs_point'></span>
			<span class='cs_thumb'><img src='http://cssslider.com/sliders/demo-6/data1/tooltips/rose_summer_flower_flowers_garden_rose.jpg' alt='HTML5 photo demo using slider side thumbnail' title='White rose' /></span>
		</label>
	</div>

</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section> 
</div>
   <div id="body">
  <div class="handling">
    <h1><b></b></h1>
    <div>
      <h3><b></b></h3>
      <p id="home">Order online and have your flower delivery.
The team at <b>Soeurette Blossom </b>is committed to providing you the highest quality flowers,  and gifts available at the fairest price possible. Every customer is very important to us and we strive to give our utmost professional attention to every single order. Our entire staff is dedicated to delivering the highest level of customer service.</p>
    </div>
       </div>
</div>
