body{margin-left: 20px
}
h1 {color: darkgreen;
}
h1,h2{font-family: fantasy;
text-align: center;}
p {line-height:  25px;}
a{
    text-decoration: none;
}
.w {text-transform: uppercase;}

a:hover{text-decoration: underline}
img{float:left;
width: 200px
}