#fistId{
    color: greenyellow;
        background-color: green;

}
#sousou{
    color: yellow;
    
}
#amr{
    color: greenyellow;
}

.hi{
    background-color: green;
}
.hello{
    font-size: 30px;
}
=