body{
    padding: 25px;
    background-color: pink;
}

#First name{
    background-color: lemonchiffon;
}

#Last name{
    background-color:lemonchiffon ;
}
#Age{
    background-color: lemonchiffon;
}
img {
    width: 100%;
    height:300px;
    
}