<div id="body">
  <div class="contact">
    <h1 class="text-center">contact us</h1>
    <p id="flower"><b>Soeurette Blossom</b> take care of your floral arrangements by occasion. We offer a large selection of flowers, floral arrangements, and baskets at very competitive prices that will not be matched anywhere in Lebanon. Order online and have your flower delivery.
The team at <b>Soeurette Blossom </b>is committed to providing you the highest quality flowers,  and gifts available at the fairest price possible. Every customer is very important to us and we strive to give our utmost professional attention to every single order. Our entire staff is dedicated to delivering the highest level of customer service.</p><br>
    <div>
      <div>
        <h4 id ="flower"><b>contact details</b></h4><br>
        <ul>
            <li id ="flower" class="lead"><ins><b><em>Location :</em></b></ins> Ras El Nabeh,Bchara El Khoury Boulevar</li>
        
            <li id ="flower" ><b><ins><em>Orders &amp; Reservation Number :</em></ins></b> (961) 03-347996</li>
            <li id ="flower"><strong><b><ins><em>Office Phone Number :</em></ins></b> </strong> (961) 01-633474</li>
            <li id ="flower"><b><ins><em>Fax Number :</em></ins></b> (961) 01-633474</li>
            <li id ="flower"><b><ins><em>Email :</em></ins></b>  <a href="kurdysoeurette@gmail.com">kurdysoeurette@gmail.com</a></li>
            
        </ul><br>
      </div><br>
      <div>
          <h4 id ="flower"><b>store hours</b></h4>
        <ul>
          <li ><span>Monday</span>9:00 am - 5:30</li>
          <li ><span>Tuesday</span>9:00 am - 5:30</li>
          <li ><span >Wednesday</span>9:00 am - 5:30</li>
          <li ><span>Thursday</span>9:00 am - 5:30</li>
          <li ><span>Friday</span>9:00 am - 5:30</li>
          <li ><span>Saturday</span>9:00 am - 5:30</li>
        </ul>
      </div>
    </div>
  </div>
</div>