input{
    background-color: lightpink;
    text-align: center;
    color: blueviolet;
}

body {
    background: url("business-money-pink-coins.jpg") fixed;
/*    background-size: cover;*/
    background-repeat: no-repeat;
    
}
.change{
    text-align: center;
}
.jumbotron{
    height:300px;
    
}