<div id="emptyrows">
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <form>
  <div class="form-group">

      <div class="input-group">
          <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user"></span></span>
             
           <input ng-model="userInput.username"class="form-control left-border-none"type="text" placeholder=" Enter username" class="form-control">
      </div>

  </div>
</form><br>

       <form>
  <div class="form-group">

      <div class="input-group">
          <span class="input-group-addon transparent"><span class="fa fa-unlock"></span></span>
             
          <input ng-model="userInput.password"class="form-control left-border-none" type="password" placeholder="Enter password"class="form-control" >
      </div>

  </div>
</form><br> 
        
        
         <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div><br>
        <button ng-click="signin()" class="btn btn-info">signin</button>
        
        <a href="/#/signup">Don't have an account Sign Up</a>
    </div>
</div>
<div id="emptyrows">
</div>





<!--

    for new buttom to check
    <div class="buttonHolder">
        <a href="#" class="button tick"></a>
        <a href="#" class="button cross"></a>
        <a href="#" class="button heart"></a>
        <a href="#" class="button flower"></a>
    </div>
-->

<!--<i class="fa fa-unlock" aria-hidden="true"></i>-->
<!--<i class="fa fa-key" aria-hidden="true"></i>-->