<div id="emptyrows">
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    
 <form>
  <div class="form-group">

      <div class="input-group">
          <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user"></span></span>
             
       <input ng-model="userInput.username" class="form-control left-border-none"placeholder="username"class="form-control">
      </div>

  </div>
</form><br> 
        
 <form>
  <div class="form-group">

      <div class="input-group">
          <span class="input-group-addon transparent"><span class="fa fa-key"></span></span>
             
      <input ng-model="userInput.password1"class="form-control left-border-none" type="password" placeholder="password"class="form-control">
      </div>

  </div>
</form><br> 
 
         <form>
  <div class="form-group">

      <div class="input-group">
          <span class="input-group-addon transparent"><span class="fa fa-check-square"></span></span>
             
         <input ng-model="userInput.password2" class="form-control left-border-none"type="password"  placeholder=" confirm password"class="form-control">
      </div>

  </div>
</form><br>
             <form>
  <div class="form-group">

      <div class="input-group">
          <span class="input-group-addon transparent"><span class="fa fa-user"></span></span>
             
         <input ng-model="userInput.firstname" class="form-control left-border-none"type="password"  placeholder=" First Name"class="form-control">
      </div>

  </div>
</form><br> 
                <form>
  <div class="form-group">

      <div class="input-group">
          <span class="input-group-addon transparent"><span class="fa fa-user"></span></span>
             
         <input ng-model="userInput.lastname" class="form-control left-border-none"type="password"  placeholder=" Last Name"class="form-control">
      </div>

  </div>
</form><br>

         <form>
  <div class="form-group">

      <div class="input-group">
          <span class="input-group-addon transparent"><span class="fa fa-birthday-cake"></span></span>
             
         <input ng-model="userInput.dateofbirth" class="form-control left-border-none"type="password"  placeholder=" mm/dd/yy"class="form-control">
      </div>
      

  </div>
</form><br> 
               <form>
  <div class="form-group">

      <div class="input-group">
          <span class="input-group-addon transparent"><span class="fa fa-envelope"></span></span>
             
         <input ng-model="userInput.email" class="form-control left-border-none"type="password"  placeholder=" Email Address"class="form-control">
      </div>

  </div>
</form><br> 




    <button ng-click="signup()" class="btn btn-info">signup</button>
    </div>
</div>
<div id="emptyrows">
</div>

